<!-- wp:talkwave/layout -->
<div class="wp-block-talkwave-layout"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60","right":"var:preset|spacing|60"}},"dimensions":{"minHeight":""},"border":{"radius":"8px"}},"layout":{"type":"constrained"},"hideFromFeed":true} -->
<div class="wp-block-group" style="border-radius:8px;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"}},"dimensions":{"minHeight":"80vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"space-between"},"hideFromFeed":true} -->
<div class="wp-block-group alignwide" style="min-height:80vh;padding-top:0;padding-bottom:0"><!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:talkwave/layout -->