<!-- wp:talkwave/layout -->
<div class="wp-block-talkwave-layout"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60","right":"var:preset|spacing|60"}},"dimensions":{"minHeight":"100%"},"border":{"radius":"8px"}},"layout":{"type":"constrained"},"hideFromFeed":true} -->
<div class="wp-block-group" style="border-radius:8px;min-height:100%;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:talkwave/episodes {"align":"wide"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:talkwave/layout -->